#banner h1,h2 {
    color: white;
    display: inline-block;
    padding: 5px;
}

#banner {
    background-color: aqua; 
}

#Curse {
    color: gray;
    background-color: #dad6d2;
}

.article {
    color: blue;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    vertical-align: middle;
}

.grid-item {
    background-color: #d0c4c4; 
    display: inline-block;
    height: 50px;
    padding: 50%;
    text-align: center;
}