<html>
<body>

    <h1>Welcome to BlogLog!</h1>
    <h4>Comment On the post below!</h4>
    <form action="/comment-post" method="POST">
    <input type="text" name="body" placeholder="Body">
    <input type="hidden" name="id" value="{{id}}">
    <button type="Submit">Submit</button>
    </form>
    <ul>

</body>
</html>