<html>
<body>

    <h1>Welcome to BlogLog!</h1>
    <form action="/update-post" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="body" placeholder="Body">
    <input type="text" name="category" placeholder="Category">
    <input type="hidden" name="id" value="{{updateId}}">
    <button type="Submit">Submit</button>
    </form>
    <ul>

</body>
</html>