<html>
<body>

    <h1>Welcome to BlogLog!</h1>
    <form action="/login-user" method="POST">
    <input type="text" name="userLogin" placeholder="Username">
    <button type="Submit">Submit</button>
    </form>

    <p>{{message}}</p>

</body>
</html>