<html>
<body>

    <h1>Welcome to BlogLog!</h1>
    <form action="/register-user" method="POST">
    <input type="text" name="userName" placeholder="Write Username Here">
    <button type="Submit">Register</button>
    </form>
    <p>Already a User? Log in <a href="/login">Here</a></p>
</body>
</html>